<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <form method = 'post' action='helloGreeting'>" +
        <label for='name'>Name: <input type='text' name = 'name' /></label>
        <label for='language'>Language: </label>
        <select type='text' name = 'language'>
            <option value='english'>English</option>
            <option value='french'>French</option>
            <option value='spanish'>Spanish</option>
            <option value='thai'>Thai</option>
            <option value='italian'>Italian</option>
        </select>" +
        <input type='submit' />
    </form>
</body>
</html>